
.penguin {
    position: relative;
}
#head{
    top: 0px;
    left: 17px;
    position: relative;
    width: 75px;
    height: 100px;
    background: black;
    border-radius: 50%;

}


#body {
    left: 12px;
    margin-top: -30px;
	z-index: -1;
    width: 100px;
    height: 200px;
    background: black;
    position: relative;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 50% / 75% 75% 35% 35%;
}




/*#stomach {
	width: 70px;
    height: 170px;
    background: white;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 50px / 60px;
}*/



